<!DOCTYPE html>
<html>
    <head>
        <title>Bem vindo a página de saudação!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/estilos.css">
    </head>
    <body>
        <h1>Seja bem-vindo ao meu site! /saudacao</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, sapiente enim explicabo, corporis accusamus velit dolorem dolor placeat architecto doloribus numquam. Voluptatum pariatur tempore beatae quasi nemo similique eius perspiciatis.</p>
    </body>    

</html>